.main {
  background: linear-gradient(to right, #d0f4ea 50%, #e8fcc2 50%);
  overflow: hidden;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 3px 2px #545f66;
  color: white;
}
.top--section {
  display: flex;
}

.url--section {
  margin-left: 100px;
}

.scraping--result {
  margin-top: 100px;
}
.intro--section {
  margin-left: 500px;
  margin-bottom: 100px;
}
